body{
    background-color: antiquewhite;
}
form{
    padding: 25px;
    margin: 10px;
    background-color: rgb(89, 226, 226);
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1),
    0 0 10px rgba(0, 0, 0, .2),
    0 0 15px rgba(0, 0, 0, .2);
    
}
.title{
    display: flex;    
    justify-content: center;
    margin-top:10vh;
}
.loginform{
    display: flex;    
    justify-content: center;
   
}
label{
    margin-right: 10px;
}
input{
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px;
    margin: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}
input:focus {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    outline: none; /* Removes the default blue outline on focus */
}
button{
    border: 1px solid white;
    border-radius: 5px;    
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}
button:focus {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    outline: none; /* Removes the default blue outline on focus */
}
#email{
    margin-right: 40px;
}